@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        <link rel="stylesheet" href="http://x.autoimg.cn/com/bo.ashx?path=|as|css-2.0.4|public|icon.css" />
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
        @* favicons and touch icons go here *@
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/" title="change in _bootstrapLayout.basic.cshtml">错误日志</a>
                    <div class="nav-collapse collapse">
                        <div>
                            @Html.Action("ErrorCount", "Home", new { startdatetime = ViewBag.StartDateTime, enddatetime = DateTime.Now, viewName = "ErrorCountHeader" })
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="container" style="width:99%">
            @Html.Partial("_alerts")
            @Html.Partial("_validationSummary")

            @RenderBody()
            <hr>
            <footer>
                <p>&copy; Company @System.DateTime.Now.ToString("yyyy")</p>
            </footer>
        </div>
         @Scripts.Render("~/js")
         @RenderSection("Scripts", required: false)
        <script type="text/javascript">
            var site ='@ViewBag.Site';
            $('.selectpicker').selectpicker().change(function() {
                var site = $(".selectpicker option:selected").text();
                location.href = '/?site=' + site;
            });
            if (site) {
                $('.selectpicker').val(site);
                $('.selectpicker').selectpicker('render');
            }
        </script>
    </body>
</html>

